@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(data-base64:~_assets/fonts/Montserrat-Light.ttf) format("truetype");
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(data-base64:~_assets/fonts/Montserrat-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(data-base64:~_assets/fonts/Montserrat-Medium.ttf) format("truetype");
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(data-base64:~_assets/fonts/Montserrat-SemiBold.ttf) format("truetype");
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(data-base64:~_assets/fonts/Montserrat-Bold.ttf) format("truetype");
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(data-base64:~_assets/fonts/Montserrat-ExtraBold.ttf) format("truetype");
}