@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat";
}

@layer base {
  * {
    font-family: 'Montserrat', sans-serif;
  }
}

#plasmo-shadow-container {
  right: 0;
  top: 13%;
  position: fixed !important;
  z-index: 80 !important;
}